In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv(r"C:\Users\HP\OneDrive\Desktop\ml\modular\ml-class\Data\ames_no_outliers(no missing value).csv")
df.head()

,Unnamed: 0,Order,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Lot.Shape,Land.Contour,Utilities,...,Enclosed.Porch,X3Ssn.Porch,Screen.Porch,Pool.Area,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
0,0,1,20,RL,141.0,31770,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,1,2,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,2,3,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,3,4,20,RL,93.0,11160,Pave,Reg,Lvl,AllPub,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,4,5,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [4]:
df.isnull().sum()

Unnamed: 0        0
Order             0
MS.SubClass       0
MS.Zoning         0
Lot.Frontage      0
                 ..
Mo.Sold           0
Yr.Sold           0
Sale.Type         0
Sale.Condition    0
SalePrice         0
Length: 78, dtype: int64

In [5]:
df["MS.SubClass"].dtype
#this feature is ctatgorical feature and some nomerical values is given so we have to convert it into string
#se the data sheet for that

dtype('int64')

In [6]:
df['MS.SubClass'] = df['MS.SubClass'].apply(str)
#converting it to string

In [7]:
df["MS.SubClass"].dtype

dtype('O')

In [8]:
df["MS.SubClass"]

0       20
1       20
2       20
3       20
4       60
        ..
2920    80
2921    20
2922    85
2923    20
2924    60
Name: MS.SubClass, Length: 2925, dtype: object

In [9]:
df.info()
#see the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 78 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2925 non-null   int64
 1   Order            2925 non-null   int64
 2   MS.SubClass      2925 non-null   object
 3   MS.Zoning        2925 non-null   object
 4   Lot.Frontage     2925 non-null   float64
 5   Lot.Area         2925 non-null   int64
 6   Street           2925 non-null   object
 7   Lot.Shape        2925 non-null   object
 8   Land.Contour     2925 non-null   object
 9   Utilities        2925 non-null   object
 10  Lot.Config       2925 non-null   object
 11  Land.Slope       2925 non-null   object
 12  Neighborhood     2925 non-null   object
 13  Condition.1      2925 non-null   object
 14  Condition.2      2925 non-null   object
 15  Bldg.Type        2925 non-null   object
 16  House.Style      2925 non-null   object
 17  Overall.Qual     2925 non-null   int64
 18  Overall.Cond     2925 non-null   int64
 19  Year.Built       2925 non-null   int64
 20  Year.Remod.Add   2925 non-null   int64
 21  Roof.Style       2925 non-null   object
 22  Roof.Matl        2925 non-null   object
 23  Exterior.1st     2925 non-null   object
 24  Exterior.2nd     2925 non-null   object
 25  Mas.Vnr.Type     2925 non-null   object
 26  Mas.Vnr.Area     2925 non-null   float64
 27  Exter.Qual       2925 non-null   object
 28  Exter.Cond       2925 non-null   object
 29  Foundation       2925 non-null   object
 30  Bsmt.Qual        2925 non-null   object
 31  Bsmt.Cond        2925 non-null   object
 32  Bsmt.Exposure    2925 non-null   object
 33  BsmtFin.Type.1   2925 non-null   object
 34  BsmtFin.SF.1     2925 non-null   float64
 35  BsmtFin.Type.2   2925 non-null   object
 36  BsmtFin.SF.2     2925 non-null   float64
 37  Bsmt.Unf.SF      2925 non-null   float64
 38  Total.Bsmt.SF    2925 non-null   float64
 39  Heating          2925 non-null   object
 40  Heating.QC       2925 non-null   object
 41  Central.Air      2925 non-null   object
 42  Electrical       2925 non-null   object
 43  X1st.Flr.SF      2925 non-null   int64
 44  X2nd.Flr.SF      2925 non-null   int64
 45  Low.Qual.Fin.SF  2925 non-null   int64
 46  Gr.Liv.Area      2925 non-null   int64
 47  Bsmt.Full.Bath   2925 non-null   float64
 48  Bsmt.Half.Bath   2925 non-null   float64
 49  Full.Bath        2925 non-null   int64
 50  Half.Bath        2925 non-null   int64
 51  Bedroom.AbvGr    2925 non-null   int64
 52  Kitchen.AbvGr    2925 non-null   int64
 53  Kitchen.Qual     2925 non-null   object
 54  TotRms.AbvGrd    2925 non-null   int64
 55  Functional       2925 non-null   object
 56  Fireplaces       2925 non-null   int64
 57  Fireplace.Qu     2925 non-null   object
 58  Garage.Type      2925 non-null   object
 59  Garage.Yr.Blt    2925 non-null   float64
 60  Garage.Finish    2925 non-null   object
 61  Garage.Cars      2925 non-null   float64
 62  Garage.Area      2925 non-null   float64
 63  Garage.Qual      2925 non-null   object
 64  Garage.Cond      2925 non-null   object
 65  Paved.Drive      2925 non-null   object
 66  Wood.Deck.SF     2925 non-null   int64
 67  Open.Porch.SF    2925 non-null   int64
 68  Enclosed.Porch   2925 non-null   int64
 69  X3Ssn.Porch      2925 non-null   int64
 70  Screen.Porch     2925 non-null   int64
 71  Pool.Area        2925 non-null   int64
 72  Misc.Val         2925 non-null   int64
 73  Mo.Sold          2925 non-null   int64
 74  Yr.Sold          2925 non-null   int64
 75  Sale.Type        2925 non-null   object
 76  Sale.Condition   2925 non-null   object
 77  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(27), object(40)
memory usage: 1.7+ MB

In [10]:
# just tring the conecpt of one hot encoding
direction =pd.Series(["up","down","down","up"])

In [11]:
#filling the dummy values with 0's and 1's
pd.get_dummies(direction,drop_first=True)

   up
0   1
1   0
2   0
3   1

In [12]:
#back to main code
my_object_df=df.select_dtypes(include="object")
#selecting those kind of data type having objext type

In [13]:
my_object_df

,MS.SubClass,MS.Zoning,Street,Lot.Shape,Land.Contour,Utilities,Lot.Config,Land.Slope,Neighborhood,Condition.1,...,Kitchen.Qual,Functional,Fireplace.Qu,Garage.Type,Garage.Finish,Garage.Qual,Garage.Cond,Paved.Drive,Sale.Type,Sale.Condition
0,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,TA,Typ,Gd,Attchd,Fin,TA,TA,P,WD,Normal
1,20,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,TA,Typ,none,Attchd,Unf,TA,TA,Y,WD,Normal
2,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Gd,Typ,none,Attchd,Unf,TA,TA,Y,WD,Normal
3,20,RL,Pave,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Ex,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
4,60,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,80,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,TA,Typ,none,Detchd,Unf,TA,TA,Y,WD,Normal
2921,20,RL,Pave,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,none,Attchd,Unf,TA,TA,Y,WD,Normal
2922,85,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,TA,Typ,none,none,none,none,none,Y,WD,Normal
2923,20,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
2924,60,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal

In [14]:
#for int ad float data type

In [15]:
my_numeric_df=df.select_dtypes(exclude="object")

In [16]:
#now one hot encoding so that we can convert those catagorial features to numeric
df_object_dummies=pd.get_dummies(my_object_df,drop_first=True)

In [17]:
df_object_dummies

,MS.SubClass_150,MS.SubClass_160,MS.SubClass_180,MS.SubClass_190,MS.SubClass_20,MS.SubClass_30,MS.SubClass_40,MS.SubClass_45,MS.SubClass_50,MS.SubClass_60,...,Sale.Type_ConLw,Sale.Type_New,Sale.Type_Oth,Sale.Type_VWD,Sale.Type_WD,Sale.Condition_AdjLand,Sale.Condition_Alloca,Sale.Condition_Family,Sale.Condition_Normal,Sale.Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2921,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2923,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2924,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [18]:
#here main aim is to predict the price so after applying all transformation,
#  predicting the price,and apply regularization technique to select those features

In [19]:
final_df=pd.concat([my_numeric_df,df_object_dummies],axis=1)

In [20]:
final_df

,Unnamed: 0,Order,Lot.Frontage,Lot.Area,Overall.Qual,Overall.Cond,Year.Built,Year.Remod.Add,Mas.Vnr.Area,BsmtFin.SF.1,...,Sale.Type_ConLw,Sale.Type_New,Sale.Type_Oth,Sale.Type_VWD,Sale.Type_WD,Sale.Condition_AdjLand,Sale.Condition_Alloca,Sale.Condition_Family,Sale.Condition_Normal,Sale.Condition_Partial
0,0,1,141.000000,31770,6,5,1960,1960,112.0,639.0,...,0,0,0,0,1,0,0,0,1,0
1,1,2,80.000000,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,0,1,0,0,0,1,0
2,2,3,81.000000,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,0,1,0,0,0,1,0
3,3,4,93.000000,11160,7,5,1968,1968,0.0,1065.0,...,0,0,0,0,1,0,0,0,1,0
4,4,5,74.000000,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2922,2926,37.000000,7937,6,6,1984,1984,0.0,819.0,...,0,0,0,0,1,0,0,0,1,0
2921,2923,2927,75.144444,8885,5,5,1983,1983,0.0,301.0,...,0,0,0,0,1,0,0,0,1,0
2922,2924,2928,62.000000,10441,5,5,1992,1992,0.0,337.0,...,0,0,0,0,1,0,0,0,1,0
2923,2925,2929,77.000000,10010,5,5,1974,1975,0.0,1071.0,...,0,0,0,0,1,0,0,0,1,0
2924,2926,2930,74.000000,9627,7,5,1993,1994,94.0,758.0,...,0,0,0,0,1,0,0,0,1,0

In [24]:
final_df.to_csv(os.path.join(r'C:\Users\HP\OneDrive\Desktop\ml\modular\ml-class\Data','Encoded ames_no_outliers(no missing value).csv'))